/* General container for the entire page */
.container {
  display: flex;
  min-height: 100vh;
}



/* Content area styles */
.content {
  flex: 1;
  margin-left: 50px;
  margin-right: 50px;
  padding: '20px';
  margin-top: 50px;
}

/* Form styling */
.product-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Buttons */
.button {
  position: absolute;
  top: 70px;
  right: 20px;
  margin-bottom: 10px;
  background-color: #3a0fd8;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10; /* Ensures the button is above other elements */
}

.button:hover {
  background-color: #2980b9;
}

/* Product table */
.product-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
}

.product-table th, .product-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.product-table th {
  background-color: #e8edf1;
  
}

.product-table tr:hover {
  background-color: #f4f4f4;
}

.product-table img.table-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* Image preview */
.image-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 10px;
}

/* Edit and delete buttons */
.edit {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.edit:hover {
  background-color: #4caf50;
}

.delete {
  background-color: #e74c3c;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete:hover {
  background-color: #c0392b;
}
/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}


/* Responsive design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .navbar {
    width: 100%;
  }

  .content {
    width: 100%;
    padding: 10px;
  }
}
