/* Global Styles * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* Navbar Styles */
.navbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: #082550;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 0.9rem;
}

.navbar-logo h1 {
  color: #ffffff;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

/* Default navbar links layout */
.navbar-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

/* Links style */
.navbar-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
}

/* Dropdown Menu */
.navbar-dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #082550;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
}

.navbar-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #ffffff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #082550;
}

/* Navbar Icons */
.navbar-icons {
  display: flex;
  gap: 1rem;
}

.icon {
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Responsive Navbar */
@media (max-width: 768px) {
  /* Adjust Navbar Layout */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  /* Navbar Logo */
  .navbar-logo h1 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  /* Toggle Menu Button */
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  /* Show Links When Active */
  .navbar-links.active {
    display: flex;
  }

  /* Hamburger Menu Button */
  .menu-toggle {
    display: block;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
